####################################################################
[ req ]
default_bits          = 2048
default_md            = sha256
distinguished_name    = HuluDN
attributes            = req_attributes
req_extensions 	      = req_ext
####################################################################

####################################################################
[ HuluDN ]
C = US
ST = CA
L = SantaMonica
OU = Hulu
commonName                     = Hulu CN
commonName_max                 = 128
emailAddress                   = hao.wang@hulu.com
emailAddress_max               = 64
####################################################################

####################################################################
[ req_attributes ]
challengePassword              = confluent
challengePassword_min          = 4
challengePassword_max          = 20
####################################################################

####################################################################
[req_ext]

